{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{deps, [{lager, "3.0.2"}
       ,{cowboy, "1.0.4"}
       ,{lmdb, {git, "https://github.com/joshragem/lmdb.git", {branch, "master"}}}
]}.

{relx, [{release, {books, "0.1.0"},
         [books,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
